node_modules
npm-debug.log
.DS_Store
.vscode
jsconfig.json
coverage
test-results
dist
storybook-dist
.idea
test-report.xml
test-results.json
.env
yarn-error.log
# Packages that build partially transpiled ES modules put them here
docker/certs
.history

## exception: commit node_modules folders in test fixtures
!**/__fixtures__/*/node_modules

## May temporarily create tarballs during scaffolding debug
packages/**/*.tgz

packages/babel-preset-peregrine
packages/create-pwa
packages/extensions
packages/graphql-cli-validate-magento-pwa-queries
packages/pagebuilder
packages/peregrine
packages/pwa-buildpack
packages/pwa-theme-venia
packages/upward-js
packages/upward-spec
packages/venia-ui/__mocks__
packages/venia-ui/.storybook
packages/venia-ui/lib
packages/venia-ui/node_modules
packages/venia-ui/venia-static
packages/venia-ui/package.json
packages/venia-ui/upward.yml