.swiper-pagination-bullet {
    opacity: 1;
    height: 12px;
    width: 12px;
    background: white;
    border-radius: 0%;
    border: solid #000 2px;
    transition: 0.3s;
}

.swiper-pagination-bullet:hover {
    transition: 0.3s;
    background: #000;
}

.swiper-pagination-bullet-active {
    background: #000;
}